{% extends 'base.html' %}
{% block title %}
Index
{% endblock %}
{% block content %}
<div class="col">
	<h1>{{message}}</h1>
	<ul class="list-group">
		{% for product in products %}
		<li class="list-group-item">
			{{product.title}} {# Comentario #} {% if product.stock %}
			<span class="text-success">Disponible</span> {% else %}
			<span class="text-danger">No Disponible</span> {% endif %}
		</li>
		{% endfor %}
	</ul>
	{#<image src="{% static 'images/258842.jpg' %}" alt="Sons of Anarchy" width="400px" />#}
</div>
{% endblock %}